body{
    margin: auto;
    padding: 16px;
    font-family: "Commissioner", sans-serif;
    background-color: #ededed;
}
h1{
    font-weight: 500;
}
h2{
    font-weight: 300;
}
#acoesdisponiveisparacompra{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

#portfoliodeacoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}
.acaodisponivel{
    font-family: "Commissioner", sans-serif;
    background-color: #e0e0e0;
    font-weight: 200;
    padding: 24px;
    border-radius: 8px;
    border: solid;
    border-style: none;
}
.acaodisponivel .acaocodigo{
    font-weight: 400;

}

.acaodisponivel button{
    font-family: "Commissioner", sans-serif;;
    background-color: #00DB71;
    border-radius: 4px;
    border-style: none;
    padding: 8px;

}